#header {
    background: linear-gradient(180deg, #b70b0b, #ff241d);
}


#secondaryNav ul {
    background: #b70b0b;
}

#secondaryNav ul li a {
    border-bottom: 2px solid #b70b0b;
}

.ref_img {
    width: 90%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


main p {
    text-align: center;
}

footer p {
    background: #b70b0b;
}

@media all and (max-width: 570px) {
    main {
        margin: 0 ;
        padding: 0;
    }

    .ref_img {
        width: 85%;
    }

    #carousel_curricularRecord {
        width: 88%;
        margin-left: 5vw;
    }
}
