header {
    background: linear-gradient(180deg, #b70b0b, #ff241d);
}

#secondaryNav ul {
    background: #b70b0b;
}

#secondaryNav ul li a {
    border-bottom: 2px solid #b70b0b;
}

.ref_img {
    width: 80%;
}

main p {
    text-align: center;
}

footer p {
    background: #b70b0b;
}

@media all and (max-width: 570px) {
    main {
        padding: 0;
    }

    .ref_img {
        width: 100%;
    }
}
