body {
    background-color:#e9e4ea;
    display: grid;
    padding: 2em;
}
#primaryNav ul{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
#primaryNav ul li {
    border-radius: 1em 1em 0 0;
    list-style: none;
}
#primaryNav h4{
    color:#fcfcfc;
    margin: 0.8em 0 0 0.7em;
}
#primaryNav a:hover h4{
    color: #e9ba4e;
    margin: 0.8em 0 0 0.7em;
}

#resume {
    background-color: #3d0045;
    border-radius: 1em 1em 0 0;
    font-size: 1.2em;
    width: 6em;
}
#portfolio {
    background-color: #267f0b;
    border-radius: 1em 1em 0 0;
    font-size: 1.2em;
    margin-left: 0.2em;
    width: 7.5em;
}
#recommendations {
    background-color: #00145d;
    border-radius: 1em 1em 0 0;
    font-size: 1.2em;
    margin-left: 0.2em;
    width: 12em;
}
#coCurricularRecord{
    background-color: #da0c0c;;
    border-radius: 1em 1em 0 0;
    font-size: 1.2em;
    margin-left: 0.2em;
    width: 13.5em;
}
#primaryNav a{
    text-decoration: none;
}
#print {
    display:flex;
    justify-content: flex-end;
    margin: 0 1em 0.4em auto;
}
#print img {
    border-radius: 10px;
    display: block;
    height: 3rem;
    margin-left: 1em;
    position: relative;
    width: 3rem;
}
header{
    background: linear-gradient(180deg, #267f0b, #2caf05);
    display: flex;
    justify-content: space-between;
}
header section {
    color: #fcfcfc;
    padding: 0.5rem;
}
header section h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
    padding-left: 0.5em;
}
header section h3 {
    color: #e9ba4e;
    font-size: 2.5rem;
    letter-spacing: .1em;
    margin-top: 0;
    padding-left: 1em;
}
header ul {
    color: #f4f5f5;
    display: flex;
    font-size: 1.4em;
    flex-flow: column wrap;
    margin: 2em 2em 0 0;
    padding: 0.5rem;
}
header ul li {
    list-style: none;
    padding: 0.5em 0;
}
header ul a {
    color: #f4f5f5;
    font-weight: bold;
    text-decoration: none;
}
header ul li:hover a {
    text-shadow: 1px 1px 2px #e9ba4e;
}
#secondaryNav ul {
    background: #267f0b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0.2em;
}

#secondaryNav ul li {
    padding: 0.7em 2em;
}

#secondaryNav ul li a {
    border-bottom: 2px solid #267f0b;
    color: #aab7c4;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

@media all and (max-width: 800px) {
    nav ul {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
    }
}

#secondaryNav ul li:hover a {
    color: #e9ba4e;
    border-bottom: 2px solid #e9ba4e;
}
main {
    background: white;
    padding: 1.5em;
}
.bounce:hover {
    -webkit-animation: bounce 0.5s;
    -moz-animation: bounce 0.5s;
    animation: bounce 0.5s;
}
@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
footer {
    color: #e9ba4e;
    text-align: center;
}
footer p {
    background: #267f0b;
    height: 1.8em;
    font-size: 1.5em;
    margin:0;
    padding: 0.4em 0 0 0;
}

