header {
    background: linear-gradient(180deg, #00145d, #0038b9);
}

#secondaryNav ul {
    background: #00145d;
}

#secondaryNav ul li a {
    border-bottom: 2px solid #00145d;
}

.ref_img {
    width:  70em;
    height: 85em;
}

#darcee {
    text-align: center;
}

#sunitaThakur {
    display: none;
}

#markMcCaulay {
    display: none;
}

#chelseaWin {
    display: none;
}

footer p {
    background: #00145d;
}
